<app-navbar></app-navbar>
<br><br>

<div class="main-div">

    <div class="mat-elevation-z8">
  
      <div style="box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 2px 2px;" class="container">
          <div class="container" >
            <div class="card-custom">
                <h1 style ="font-weight:bolder; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgb(22, 143, 186);" class="card-title text-success">Purchases</h1>
              </div>
           
            </div>
      
          <mat-form-field >
              <mat-label>
                  Search
              </mat-label>
              <input 
                  matInput 
                  (keyup)="applyFilter($event)" 
                  placeholder="Search" 
                  #input 
              />
          </mat-form-field>
  
      <table mat-table [dataSource]="dataSource"  matSort #tableSort="matSort" >
          <!-- Position Column -->
          <ng-container matColumnDef="currency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency</th>
            <td mat-cell *matCellDef="let element"> {{element.fxProduct.currency}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> price </th>
            <td mat-cell *matCellDef="let element"> {{element.fxProduct.price}} </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Email </th>
            <td mat-cell *matCellDef="let element"> {{element.fxProduct.provider.email}} </td>
          </ng-container>

           <ng-container matColumnDef="bank">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Bank </th>
            <td mat-cell *matCellDef="let element"> {{element.payment.bankname}} </td>
          </ng-container>

          <ng-container matColumnDef="account">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Account </th>
            <td mat-cell *matCellDef="let element"> {{element.payment.account}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
             <td mat-cell *matCellDef="let element">  {{element.status}} </td>
                  
          </ng-container>
        
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        </table>
      
        <mat-paginator [length]="100"
                      [pageSize]="5"
                      [pageSizeOptions]="[5, 10, 25]"
                      >
      </mat-paginator> 
    
      </div>
      </div>
      <div>
      <div>
      </div>