<app-navbar></app-navbar>
<br><br>

<div class="main-div">

    <div class="mat-elevation-z8">
  
      <div style="box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 2px 2px;" class="container">
          <div class="container" >
            <div class="card-custom">
              <div class="card-imgage"> 
               <img class="card-img rounded-circle" src="https://w7.pngwing.com/pngs/699/363/png-transparent-computer-icons-avatar-customer-service-profile-blue-heroes-service.png" alt="Card image cap"> 
                <h2 style ="font-weight:bolder; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgb(22, 143, 186);" class="card-title text-success">User Details</h2>
            </div>
              
              </div>
           
            </div>
      
          <mat-form-field >
              <mat-label>
                  Search
              </mat-label>
              <input 
                  matInput 
                  (keyup)="applyFilter($event)" 
                  placeholder="Search" 
                  #input 
              />
          </mat-form-field>
  
      <table mat-table [dataSource]="dataSource"  matSort #tableSort="matSort" >
          <!-- Position Column -->
          <ng-container matColumnDef="fname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency</th>
            <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="lname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Max Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>
        
  
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef > Buy </th>
  
                <td mat-cell *matCellDef="let element">
                  <button (click)="openDialog(element.productId)" mat-icon-button>
                    <span class="material-icons">shop</span>      
                  </button>
                </td>
              </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        </table>
      
        <mat-paginator [length]="100"
                      [pageSize]="5"
                      [pageSizeOptions]="[5, 10, 25]"
                      >
      </mat-paginator> 
    
      </div>
      </div>
      <div>
      <div>
      </div>
