<app-navbar></app-navbar>
<br><br>

<div class="main-div">

  <div class="mat-elevation-z8">

    <div style="box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 2px 2px;" class="container">
        <div class="container" >
          <div class="card-custom">
            <!-- <div class="card-imgage"> -->
              <!-- <img class="card-img rounded-circle" src="https://png.pngtree.com/element_our/png/20180904/modern-icon-solution-letter-j-png_83457.jpg" alt="Card image cap"> -->
              <h2 style ="font-weight:bolder; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgb(22, 143, 186);" class="card-title text-success">Available Providers</h2>
          <!-- </div> -->
            
            </div>
         
          </div>
    
        <mat-form-field >
            <mat-label>
                Search
            </mat-label>
            <input 
                matInput 
                (keyup)="applyFilter($event)" 
                placeholder="Search" 
                #input 
            />
        </mat-form-field>

    <table mat-table [dataSource]="dataSource"  matSort #tableSort="matSort" >
        <!-- Position Column -->
        <ng-container matColumnDef="fname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="lname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
      

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef > View More </th>

              <td mat-cell *matCellDef="let element">
                <button [routerLink]="['/providerDetail/'+element.providerId]" mat-icon-button>
                  <mat-icon style="color: rgb(91, 91, 184);">launch</mat-icon>        
                </button>
              </td>
            </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    
      <mat-paginator [length]="100"
                    [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 25]"
                    >
    </mat-paginator> 
  
    </div>
    </div>
    <div>
    <div>
    </div>