<h1 mat-dialog-title>FX Purchase</h1>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="fill">
      <mat-label>amount</mat-label>
      <input matInput  placeholder="EX. 239">
    </mat-form-field><br>

    <mat-form-field  appearance="fill">
    <mat-select placeholder="Payment Option">
      <mat-option *ngFor="let bank of banks" [value]="bank.value">
        {{bank.viewValue}}
      </mat-option>
    </mat-select>

  </mat-form-field>
    </mat-dialog-content>
  
      <mat-dialog-actions align="end">
        <button style="font-size: large; color:white; background-color:green" (click) = "Purchase()" mat-dialog-close >purchase</button>
        <button style="font-size: large;color:white; background-color: brown;" mat-button [mat-dialog-close]="true" cdkFocusInitial>cancel</button>
      </mat-dialog-actions> 