
<form #f="ngForm" (ngSubmit)="Purchase(f)" novalidate>
<h1 mat-dialog-title>FX Purchase</h1>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="fill">
      <mat-label>amount</mat-label>
      <input matInput name="amount" placeholder="EX. 239" ngModel>

    </mat-form-field><br>

    <mat-form-field  appearance="fill">
    <mat-select  name="payment" placeholder="Payment Option" ngModel>
      <mat-option *ngFor="let bank of banks" [value]="bank.paymentId">
        {{bank.bankname}}({{bank.account}})
      </mat-option>
    </mat-select>

  </mat-form-field>
    </mat-dialog-content>
  
      <mat-dialog-actions align="end">
        <input type="submit" value="purchase" style="font-size: large; color:white; background-color:green" mat-dialog-close>
        <button style="font-size: large;color:white; background-color: brown;" mat-button [mat-dialog-close]="true" cdkFocusInitial>cancel</button>
      </mat-dialog-actions> 

    </form>